# Node / Bun
node_modules/
bun.lockb
dist/
.env
.env.local

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
.venv*/
venv/
ENV/

# Database & sqlite
*.db
*.db-journal
*.sqlite

# System & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
